@font-face {
	font-family: FUENTE;
	src: url("../assets/Montserrat-Italic.ttf");
}

@font-face {
	font-family: FUENTE2;
	src: url("../assets/DMSans-Regular.ttf");
}

@font-face {
	font-family: FUENTE3;
	src: url("../assets/RadioCanada-VariableFont_wdth\,wght.ttf");
}
@media screen and (max-width: 800px) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	background-color: #b7edbf;
	overflow-x: hidden;
	width: 100%;
}
@media screen and (max-width: 400) {
	#bodyPun {
		width: 100%;
	}
	#body {
		width: 100%;
	}
}

/* HEADER */
.header {
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
	font-family: FUENTE;
	padding: 20px 10px;
	margin: -0.6%;
	margin-top: -10%;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header-right {
	float: right;
	margin-right: 2%;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}
/* sin fixed */
.header2 {
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
	font-family: FUENTE;
	padding: 20px 10px;
	margin: -0.6%;
}

.header2 a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header2 a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header-right {
	float: right;
	margin-right: 2%;
}

@media screen and (max-width: 500px) {
	.header2 a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

/* INDICE */
.principal {
	align-items: center;
	margin: 10% 35%;
	font-family: FUENTE;
	margin-bottom: 40%;
}

.principal .inicioT {
	text-align: left;
	font-weight: bold;
	font-size: 70px;
	margin-bottom: 10%;
}

.principal .texto {
	overflow: hidden; /* Se espera a la animación */
	border-right: 0.15em solid rgb(227, 48, 48); /* Animacion cursor */
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(71, end), blink-caret 0.75s step-end infinite;
	margin-bottom: 35%;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* efecto */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgb(214, 112, 112);
	}
}

.principal img {
	align-items: center;
	margin-top: 30%;
	margin-left: -35%;
	width: 100%;
	opacity: 0.5;
}

.botones {
	background-color: white;
	width: 105%;
	margin: auto;
	height: 450px;
	margin-top: -30%;
	margin-left: -1em;
}

.tituloB {
	font-family: FUENTE;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 4%;
	text-transform: uppercase;
}

.btndentro {
	display: flex;
}

.boton a {
	padding: 1.9%;
	border-radius: 7%;
	background-color: black;
	color: #b7edbf;
	text-decoration: none;
	flex: 1 1 auto;
}

.boton a:hover {
	padding: 1.9%;
	border-radius: 7%;
	background-color: black;
	color: white;
	text-decoration: none;
}

.boton {
	font-family: FUENTE;
	font-size: 15px;
	flex: 1 1 auto;
}

.btndentro img {
	width: 10%;
	margin-left: 50px;
	background-color: #d5ded6;
	border-radius: 100%;
	flex: 1 1 auto;
}

.info {
	padding: 5%;
}

.expliacion {
	display: flex;
	flex-direction: row;
}

.videoHTML {
	margin-left: 15px;
	margin-top: -55px;
}

.info P {
	font-size: 30px;
	font-family: FUENTE;
}

.infodentro {
	display: grid;
}

.expliacion {
	font-size: 18px;
	font-family: FUENTE2;
}

.teclitas {
	display: flex;
	flex-direction: row;
	width: 500px;
	margin-left: -40px;
	background-color: rgba(239, 244, 239, 0.707);
	padding: 15px;
}

.uno {
	margin-left: 5px;
	padding: 5px;
	width: 10px;
	height: 5px;
	border: 1px grey;
	text-align: center;
}

.uno {
	width: 5%;
	height: 5%;
}

/*:::::Pie de Pagina*/
.pie-pagina {
	width: 105%;
	background-color: #acb1acca;
	margin-bottom: -2em;
	margin-left: -1em;
}

.pie-pagina .grupo-2 {
	background-color: #858a85;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
	font-family: FUENTE;
}
.pie-pagina .grupo-2 small {
	font-size: 15px;
}
@media screen and (max-width: 800px) {
	.pie-pagina .grupo-1 {
		width: 90%;
		grid-template-columns: repeat(1, 1fr);

		grid-gap: 30px;
		padding: 35px 0px;
	}
}

/* SOLO UN JUGADOR */

#body {
	/* width: 770px; */
	padding: 15%;
	margin-left: 2em;
	margin-top: -10vh;
	border-radius: 10px;
	align-items: center;
}

#resultado li {
	display: flex;
	height: 20px;
	list-style: none;
	position: relative;
	align-items: center;
}

#resultado li p {
	font-size: 19px;
}

#resultado li span {
	display: block;
	font-size: 20px;
	margin-left: 10px;
}

#timer p {
	font-family: FUENTE2;
}

#time {
	font-size: 20px;
	font-family: FUENTE2;
}

@media (max-width: 445px) {
	#body {
		padding: 20px;
	}
	#content-box #content {
		padding: 20px 0;
	}
	#dentro #typing-text {
		max-height: 100%;
	}
	#typing-text p {
		font-size: 19px;
		text-align: left;
		font-family: FUENTE;
	}
	#content #resultado {
		width: 100%;
	}
	#resultado li:not(:first-child) {
		border-left: 0;
		padding: 0;
	}
	#resultado li p,
	#resultado li span {
		font-size: 17px;
	}
}

#input {
	caret-color: rgb(26, 83, 31);
	border: none;
	background-color: #b7edbf;
	padding: 12px 20px;
	width: 95%;
	font-size: 24px;
	height: 50px;
	border-bottom: 5px solid rgb(26, 83, 31);
}

#input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.correct {
	color: grey;
}

.incorrect {
	color: red;
	font-weight: bold;
}

.fuenteparrafo {
	font-family: FUENTE3;
}

.solucion {
	width: 500px;
	height: 500px;
	background-color: grey;
	align-items: center;
}

.opciones {
	margin-top: 20px;
}

#myChart {
	width: 6%;
	margin-top: -33%;
	margin-left: 33%;
}

.indexColor {
	color: rgb(19, 56, 5);
	font-weight: bold;
	background-color: rgba(135, 139, 133, 0.299);
}

#fila {
	margin-left: 10px;
	margin-top: 30px;
}

button {
	font-size: 13px;
	width: 50px;
	height: 30px;
	border-radius: 3px;
	background-color: black;
	color: white;
	text-decoration: none;
	border: none;
}
@media screen and (max-width: 400px) {
	.jugador {
		overflow: hidden;
		width: 100%;
	}
}

#tituloP {
	font-family: FUENTE3;
	font-weight: bold;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 3em;
	font-size: 30px;
}

#myTable {
	margin-left: 30vh;
}

#flex {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	margin: 20px 20px;
	grid-template-areas:
		"tu enemigo"
		"tituloWPM titulosEWPM"
		"respuestaTu RespuestaEWPM"
		"tituloACC titulosEACC"
		"respuestaACC respuestaEACC";
}

#queTu {
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: FUENTE3;
	font-size: 35px;
	color: rgb(19, 56, 5);
	margin-bottom: -10px;
	text-decoration: underline;
	grid-area: tu;
}

#tituloTuWPM {
	font-family: FUENTE3;
	font-size: 30px;
	color: rgb(19, 56, 5);
	margin-bottom: -6px;
	grid-area: tituloWPM;
}

#respuestaTuWPM {
	font-family: FUENTE3;
	font-size: 28px;
	color: rgb(54, 83, 55);
	margin-bottom: -8px;
	grid-area: respuestaTu;
}

#tituloTuACC {
	font-family: FUENTE3;
	font-size: 30px;
	color: rgb(19, 56, 5);
	margin-bottom: -6px;
	grid-area: tituloACC;
}

#respuestaTuACC {
	font-family: FUENTE3;
	font-size: 28px;
	color: rgb(54, 83, 55);
	margin-bottom: -8px;
	grid-area: respuestaACC;
}

#que {
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: FUENTE3;
	font-size: 35px;
	color: rgb(19, 56, 5);
	margin-bottom: -10px;
	text-decoration: underline;
	grid-area: enemigo;
}

#titulosEWPM {
	font-family: FUENTE3;
	font-size: 30px;
	color: rgb(19, 56, 5);
	margin-bottom: -6px;
	grid-area: titulosEWPM;
}

#respuestaEWPM {
	font-family: FUENTE3;
	font-size: 28px;
	color: rgb(54, 83, 55);
	margin-bottom: -8px;
	grid-area: RespuestaEWPM;
}

#titulosEACC {
	font-family: FUENTE3;
	font-size: 30px;
	color: rgb(19, 56, 5);
	grid-area: titulosEACC;
}

#respuestaEACC {
	font-family: FUENTE3;
	font-size: 28px;
	color: rgb(54, 83, 55);
	margin-bottom: -8px;
	grid-area: respuestaEACC;
}

/* puntuaciones un jugador */

#titulos {
	font-family: FUENTE3;
	font-size: 30px;
	color: rgb(19, 56, 5);
}

#respuesta {
	font-family: FUENTE3;
	font-size: 28px;
	color: rgb(54, 83, 55);
	margin-bottom: -8px;
}

/* puntuaciones */

#myChart2 {
	margin-bottom: 17vh;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#myChart3 {
	margin-top: 20vh;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#myChart4 {
	margin-top: 20vh;
	margin-bottom: 17vh;
	margin-left: auto;
	margin-right: auto;
}

#mongo {
	width: 100%;
	height: 100%;
	margin-top: 0.6em;
	margin-left: -2em;
	background-color: rgba(158, 177, 158, 0.856);
	grid-area: mongo;
}

.canvas {
	grid-area: canvas;
}

.storage {
	width: auto;
	height: auto;
	margin: auto;
	font-family: FUENTE3;
	text-align: center;
	align-items: center;
	margin-bottom: 3em;
	font-size: 15px;
	grid-area: mongo;
}

.storage2 {
	color: red;
	grid-area: canvas;
	font-family: FUENTE3;
	width: auto;
	height: auto;
	margin: auto;
	font-weight: bold;
}

#flexP {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "mongo canvas";
}

@media (max-width: 800px) {
	#flexP {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		grid-template-areas:
			"mongo"
			"canvas";
	}
}

#tituloPM {
	font-family: FUENTE3;
	font-weight: bold;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 3em;
	font-size: 30px;
}

/* MULTIJUGADOR */

#randomize {
	cursor: default;
}

#bodymulti {
	margin-top: -7em;
	padding: 8em;
	/* width: 770px;
	padding: 15%;
	margin-left: 20vh;
	margin-top: -10vh;
	border-radius: 10px;
	align-items: center; */
	scroll-behavior: smooth;
}

/*barra enemigo y tuya*/
.jugadores {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#jugador1 img {
	margin-left: -7em;
	margin-top: 2em;
	margin-bottom: 0%;
	width: 5em;
}
#jugador1 h2 {
	font-family: FUENTE3;
	font-size: 15px;
	margin-top: -4em;
}

#jugador2 img {
	margin-left: -7em;
	margin-top: 2em;
	margin-bottom: 0%;
	width: 5em;
}

#jugador2 h2 {
	font-family: FUENTE3;
	font-size: 15px;
	margin-top: -4em;
}

#myBar {
	position: absolute;
	width: 1%;
	height: 100%;
	background-color: #4caf50;
}

progress {
	position: relative;
	width: 100%;
	height: 30px;
}
